@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
}

.app {
  text-align: center;
  padding: 0 40px 0 40px;
}

.application-header {
  height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  padding: 20px;
  background-color: #e1e1e1;
}

.searchForm {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 50px;

}

.searchFormInput {
  width: 250px;
  padding: 10px;
  border-radius: inherit;
}

.searchButton {
  margin-left: 20px;
  width: 100px;
  background: transparent;
  border: solid black 1px;
}


.single-movie-element {
  width: 800px;
  height: 400px;
  background: transparent;
  display: flex;
  border-radius:10px;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  justify-content: center;
  box-shadow: 0px 20px 30px 3px rgba(0, 0, 0, 0.55);
  /*position: absolute; delete l*/
  margin: 2vh auto;
}

.left-side {
  width: 40%;
  height: 400px;
  overflow: hidden;
  border-radius: 10px 0 0 10px;
  float: left;
}

h1 {
  color:#fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-align: left;
  font-size: 40px;
  letter-spacing: 1px;
}

.movie-production-year {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  text-align: left;
  font-size: 20px;
}

.imdb-link {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  text-align: left;
  font-size: 20px;
  text-decoration: none;
  display: flex;
  margin-top: auto;
}

.right-side {
  font-family: 'Montserrat', sans-serif;
  padding: 0 40px 20px 40px;
  width: 60%;
  background: #000000;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: left;
  border-radius:0 10px 10px 0;
  -webkit-border-radius:0 10px 10px 0;
  -moz-border-radius:0 10px 10px 0;
}

.movieArt {
  width:100%;
  height:auto;
  border-radius: 10px 0 0 10px;
  position: relative;
}

.movieResults {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* media queries */
@media screen and (min-width: 694px) and (max-width: 915px) {
  .single-movie-element {
    max-width: 33%;
  }
}

@media screen and (min-width: 652px) and (max-width: 693px) {
  .single-movie-element {
    max-width: 50%;
  }
}

@media screen and (max-width: 651px) {
  .single-movie-element {
    max-width: 100%;
    margin: auto;
  }
}
